<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Add a new flight
    </h1>

    <form action="/insert_flight" method="post">
      <div class="form-group">
        <label for="passenger_id_box"></label>
        <input type="hidden" id="passenger_id_box" name="query_passenger_id" class="form-control" value="1">
      </div>

      <div class="form-group">
        <label for="description_box">Description</label>
        <input type="text" id="description_box" name="query_description" class="form-control">
      </div>

      <div class="form-group">
        <label for="departs_at_box">Departs at</label>
        <input type="datetime-local" id="departs_at_box" name="query_departs_at" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create flight
      </button>
    </form>
  </div>
</div>

<hr>



<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
  <h2>Upcoming Flights</h2>
  <table class="table">
    <tr>
      <th>Description</th>
      <th>Departs at</th>
      <th>Message sent</th>
      <th></th>
    </tr>

    <% @flights.each do |flight| %>
    <tr>
      <td><%= flight.description %></td>
      <td><%= flight.departs_at %></td>
      <td><%= flight.message_sent %></td>
      <td>
        <a href="/delete_flight/<%= flight.id %>">
          Delete
        </a>
      </td>
    </tr>
    <% end %>
  </table>


  <hr>


  <h2>Past Flights</h2>


  <table class="table">
    <tr>
      <th>Description</th>
      <th>Departs at</th>
      <th>Message sent</th>
      <th></th>
    </tr>

    <% @flights.each do |flight| %>
    <tr>
      <td><%= flight.description %></td>
      <td><%= flight.departs_at %></td>
      <td><%= flight.message_sent %></td>
      <td>
        <a href="/delete_flight/<%= flight.id %>">
          Delete
        </a>
      </td>
    </tr>
    <% end %>
  </table>
</div>
</div>