<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Flight #<%= @flight.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/flights" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_flight/<%= @flight.id %>" class="btn btn-block btn-outline-secondary">
          Delete flight
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Passenger
      </dt>
      <dd>
        <%= @flight.passenger_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @flight.description %>
      </dd>

      <dt>
        Departs at
      </dt>
      <dd>
        <%= @flight.departs_at %>
      </dd>

      <dt>
        Message sent
      </dt>
      <dd>
        <%= @flight.message_sent %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@flight.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@flight.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit flight
    </h2>

    <form action="/modify_flight/<%= @flight.id %>"  method="post" >
      <div class="form-group">
        <label for="passenger_id_box">
          Passenger
        </label>

        <input type="text" id="passenger_id_box" name="query_passenger_id" class="form-control" value="<%= @flight.passenger_id %>">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" class="form-control" value="<%= @flight.description %>">
      </div>

      <div class="form-group">
        <label for="departs_at_box">
          Departs at
        </label>

        <input type="datetime-local" id="departs_at_box" name="query_departs_at"
          class="form-control" value="<%= @flight.departs_at %>">
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="message_sent_box" name="query_message_sent" value="1" <%= "checked" if @flight.message_sent %>>

        <label class="custom-control-label"
          for="message_sent_box">Message sent</label>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update flight
      </button>
    </form>
  </div>
</div>

<hr>
